.accent {
    color: red;
}

/*
px : 화면의 실제 필셀 수를 기준으로(16px)
em : 상대적(부모 요소의 글꼴크기를 기준으로 계산) : 16px * 1.5 = 24px
*/

.txt-small {
    font-size: 0.7em;
}

h2 {
    color: red;
    font-size: 1.5em;
    text-align: center;
}

p {
   font-size: 1.2em; 
   line-height: 2em;
   font-weight: bold;
   text-align: center;
}

h2[text="customer"] {
    color: blue;
    font-style: 1.5em;
    text-align: center;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}